.needs-validation label{
    font-size: 1rem;
}
.invalid{
    border-color: #dc3545;
    padding-right: calc(1.5em + .75rem);  
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
.invalid-form {
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 1rem;
    color: #dc3545;
}

.productDetail img{
    width: 100%;
}